/** Début partie supérieure de la page **/

#logo {
    width: 200px;
}

#menu {
    width: 60%;
    text-align: right;
    float: right;
}

#entete {
    text-align: center;
}

#titre {
    text-align: center;
    position: absolute;
    top: 300px;
    margin-left: 46%;
    color: aliceblue;
}
/** Fin partie supérieure de la page **/

article {
    width: 35%; 
    display: inline-block;
    margin: 30px;
}

#img_presta {
    width: 500px;
}

#img_prod {
    width: 120%;
}

#fiche_prod {
    width: 100%;
}

/** Début partie inférieure de la page **/
#vert {
    background-color: rgb(150, 253, 90);
}

#jaune {
    bottom: 0%;
    background-color: rgb(255, 255, 112);
}

#articlejaune {
    width: 14%;
    text-align: center;
}

#boutoncontact {
    float: right;
    background-color: rgb(255, 255, 168);
    font-size: 110%;
}
/** Fin partie inférieure de la page **/